{% extends 'base/base.html' %}
{% load static %}

{#　标题　#}
{% block title %}
    首页
{% endblock %}


{#　css　#}
{% block extcss %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}


{# 头部 #}
{% block header %}
    购物车
{% endblock %}


{#　主体内容　#}
{% block content %}
    <div class="cart">
        <ul>
            {% for cart in carts %}
                <li>
                    <div class="confirm-wrapper" data-cardid="{{ cart.id }}">
                        {% if cart.isselect %}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="no"></span>
                        {% endif %}
                    </div>

                    <div class="content-wrapper">
                        <div class="img">
                            <img src="{{ cart.goods.productimg }}" alt="">
                        </div>
                        <div class="detail">
                            <p class="name" data-nume>{{ cart.goods.productlongname }}</p>
                            <p class="price" data-price="{{ cart.goods.price }}">{{ cart.goods.price }}</p>
                            <p class="num" data-number="{{ cart.number }}">X{{ cart.number }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>


        <div class="bill">
            <div class="bill-left">
                <div class="all" isall="false">
                    <span class="no"></span>
                    <b>全选</b>
                </div>
                <div class="total">
                    <span>￥</span>
                    <b></b>

                </div>
            </div>

            <div class="bill-right">
                <a href="{% url 'axf:generateorder' %}">下单</a>
            </div>
        </div>
    </div>


{% endblock %}


{# 底部 #}
{#{% block footer %}#}
{#{% endblock %}#}

{#　ｊｓ　#}
{% block extjs %}
    <script src="{% static 'cart/js/cart.js' %}"></script>
{% endblock %}